ExpenseTracker/ExpenseTracker-master/ExpenseTracker.Server.MVC/Service References/ExpensesService/ExpenseTrackerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExpenseTrackerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/ExpenseTrackerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/ExpenseTrackerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/ExpenseTrackerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpenseTracker.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExpenseTrackerService_GetCategoryTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTypes" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetCategoryTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetCategoryTypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTypeById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetCategoryTypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryTypeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddCategoryType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryType" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddCategoryType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateCategoryType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryType" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateCategoryType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteCategoryTypeById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryTypeById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteCategoryTypeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryTypeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactions" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetTransactionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetTransactionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransaction" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteTransactionById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransactionById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteTransactionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransactionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetAccountById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_GetAccountById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteAccountById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountById" />
  </wsdl:message>
  <wsdl:message name="ExpenseTrackerService_DeleteAccountById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ExpenseTrackerService">
    <wsdl:operation name="GetCategoryTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategoryTypes" message="tns:ExpenseTrackerService_GetCategoryTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategoryTypesResponse" message="tns:ExpenseTrackerService_GetCategoryTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryTypeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategoryTypeById" message="tns:ExpenseTrackerService_GetCategoryTypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategoryTypeByIdResponse" message="tns:ExpenseTrackerService_GetCategoryTypeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategoryType">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddCategoryType" message="tns:ExpenseTrackerService_AddCategoryType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddCategoryTypeResponse" message="tns:ExpenseTrackerService_AddCategoryType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategoryType">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateCategoryType" message="tns:ExpenseTrackerService_UpdateCategoryType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateCategoryTypeResponse" message="tns:ExpenseTrackerService_UpdateCategoryType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoryTypeById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteCategoryTypeById" message="tns:ExpenseTrackerService_DeleteCategoryTypeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteCategoryTypeByIdResponse" message="tns:ExpenseTrackerService_DeleteCategoryTypeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategories" message="tns:ExpenseTrackerService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategoriesResponse" message="tns:ExpenseTrackerService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategoryById" message="tns:ExpenseTrackerService_GetCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetCategoryByIdResponse" message="tns:ExpenseTrackerService_GetCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddCategory" message="tns:ExpenseTrackerService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddCategoryResponse" message="tns:ExpenseTrackerService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateCategory" message="tns:ExpenseTrackerService_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateCategoryResponse" message="tns:ExpenseTrackerService_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteCategoryById" message="tns:ExpenseTrackerService_DeleteCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteCategoryByIdResponse" message="tns:ExpenseTrackerService_DeleteCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetTransactions" message="tns:ExpenseTrackerService_GetTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetTransactionsResponse" message="tns:ExpenseTrackerService_GetTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetTransactionById" message="tns:ExpenseTrackerService_GetTransactionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetTransactionByIdResponse" message="tns:ExpenseTrackerService_GetTransactionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddTransaction" message="tns:ExpenseTrackerService_AddTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddTransactionResponse" message="tns:ExpenseTrackerService_AddTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateTransaction" message="tns:ExpenseTrackerService_UpdateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateTransactionResponse" message="tns:ExpenseTrackerService_UpdateTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransactionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteTransactionById" message="tns:ExpenseTrackerService_DeleteTransactionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteTransactionByIdResponse" message="tns:ExpenseTrackerService_DeleteTransactionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetAccounts" message="tns:ExpenseTrackerService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetAccountsResponse" message="tns:ExpenseTrackerService_GetAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetAccountById" message="tns:ExpenseTrackerService_GetAccountById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/GetAccountByIdResponse" message="tns:ExpenseTrackerService_GetAccountById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddAccount" message="tns:ExpenseTrackerService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/AddAccountResponse" message="tns:ExpenseTrackerService_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateAccount" message="tns:ExpenseTrackerService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/UpdateAccountResponse" message="tns:ExpenseTrackerService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountById">
      <wsdl:input wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteAccountById" message="tns:ExpenseTrackerService_DeleteAccountById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ExpenseTrackerService/DeleteAccountByIdResponse" message="tns:ExpenseTrackerService_DeleteAccountById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ExpenseTrackerService" type="tns:ExpenseTrackerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryTypes">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetCategoryTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryTypeById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetCategoryTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategoryType">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/AddCategoryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategoryType">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/UpdateCategoryType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoryTypeById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/DeleteCategoryTypeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoryById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/DeleteCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactions">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetTransactionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/AddTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/UpdateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransactionById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/DeleteTransactionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccounts">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/GetAccountById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountById">
      <soap:operation soapAction="http://tempuri.org/ExpenseTrackerService/DeleteAccountById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpenseTrackerService">
    <wsdl:port name="BasicHttpBinding_ExpenseTrackerService" binding="tns:BasicHttpBinding_ExpenseTrackerService">
      <soap:address location="http://localhost:9999/ExpenseTrackerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>